<div #scrollWrapper class='scroll-wrapper'>
  <mat-progress-bar mode='query' *ngIf='loading'></mat-progress-bar>
  <ng-container *ngIf='(journeys$ | async | filterEqualJourneys | sortJourney: getJourneyIsArrivalDateTime()) as journeys'>
    <p class='date'>{{ getIsRoundTripText() }} am {{ getJourneyDateTime() | date: 'mediumDate' }}</p>
    <button *ngIf='this.journeys && this.journeys.length' (click)='earlierButtonClick$.next()' mat-button color='primary'>
      Früher
    </button>
    <mat-accordion multi>
      <dravelopsefafrontend-journey-list-item
        *ngFor='let journey of this.journeys'
        [journey]='journey'
        [isJourneyBuyable]='isJourneyBuyable(journey)'
        [buttonSelectText]='getButtonSelectText()'
        (journeySelectedEvent)='passJourneySelectedEvent($event)'>
      </dravelopsefafrontend-journey-list-item>
    </mat-accordion>
    <p *ngIf='!this.journeys.length && !loading' id='no-result'>Es wurde keine {{ getIsRoundTripText() }} gefunden.</p>
    <button *ngIf='this.journeys && this.journeys.length' (click)='laterButtonClick$.next()' mat-button color='primary'>
      Später
    </button>
  </ng-container>
</div>

