<div #scrollWrapper class='scroll-wrapper'>
  <mat-progress-bar mode='query' *ngIf='loading'></mat-progress-bar>
  <ng-container
    *ngIf='(journeys$ | async | filterEqualJourneys | sortJourney: getJourneyIsArrivalDateTime()) as journeys'>
    <h2 class='date'>{{ getIsRoundTripText() }} am {{ getJourneyDateTime() | date: 'mediumDate' }}</h2>
    <dravelopsefafrontend-journey-list-header></dravelopsefafrontend-journey-list-header>
    <mat-card *ngIf='this.journeys && this.journeys.length' (click)='earlierButtonClick$.next()'>
      <mat-icon>expand_less</mat-icon>
      <span>Früher</span>
    </mat-card>
    <mat-accordion multi>
      <dravelopsefafrontend-journey-list-item *ngFor='let journey of this.journeys'
                                              [journey]='journey'
                                              [isJourneyBuyable]='isJourneyBuyable(journey)'
                                              [buttonSelectText]='getButtonSelectText()'
                                              (journeySelectedEvent)='passJourneySelectedEvent($event)'>
      </dravelopsefafrontend-journey-list-item>
    </mat-accordion>
    <p *ngIf='!this.journeys.length && !loading' id='no-result'>Es wurde keine {{ getIsRoundTripText() }} gefunden.</p>
    <mat-card *ngIf='this.journeys && this.journeys.length' (click)='laterButtonClick$.next()'>
      <mat-icon>expand_more</mat-icon>
      <span>Später</span>
    </mat-card>
  </ng-container>
</div>
