@import "libs/shared-styles/src/assets/styles/global";
@import 'libs/shared-styles/src/assets/bw/material';
@import 'libs/shared-styles/src/assets/hvv/material';

html, body {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
}

/*
 * Global styles are not allowed here!
 */
