<dravelopsfrontend-theme-emitter #theme></dravelopsfrontend-theme-emitter>
<ng-container *ngIf='waypoints | geoJson as geoJson'>
  <div leaflet
       [leafletOptions]='waypoints | mapOptions'
       [leafletLayers]='buildLayers()'
       [leafletFitBounds]='getZoomBy(geoJson)'
       [leafletMinZoom]='3'
       class='map'>
  </div>
</ng-container>
<dravelopsefafrontend-walk-step-list [walkSteps]='walkSteps' (walkStepSelectedEvent)='handleShowWalkStepEvent($event)'>
</dravelopsefafrontend-walk-step-list>
