<div #scrollWrapper class='scroll-wrapper'>
  <mat-progress-bar mode='query' *ngIf='loading'></mat-progress-bar>
  <ng-container
    *ngIf='(journeys$ | async | filterEqualJourneys | backwardJourneyFilter: selectedOutwardJourney | sortJourney: getJourneyIsArrivalDateTime()) as journeys'>
    <h2 class='date'>Rückfahrt am {{ getJourneyDateTime() | date: 'mediumDate' }}</h2>
    <dravelopsefafrontend-journey-list-header></dravelopsefafrontend-journey-list-header>
    <mat-card *ngIf='this.journeys && this.journeys.length && earlierJourneysAvailable' (click)='earlierButtonClick$.next()'>
      <mat-icon>expand_less</mat-icon>
      <span>Früher</span>
    </mat-card>
    <mat-accordion multi>
      <dravelopsefafrontend-journey-list-item
        *ngFor='let journey of this.journeys'
        [journey]='journey'
        [isJourneyBuyable]='isJourneyBuyable(journey)'
        [buttonSelectText]='"Kaufen"'
        (journeySelectedEvent)='passJourneySelectedEvent($event)'>
      </dravelopsefafrontend-journey-list-item>
    </mat-accordion>
    <p id='no-result' *ngIf='!this.journeys.length && !loading'>Es wurde keine Rückfahrt zur Hinfahrt gefunden.</p>
    <mat-card *ngIf='this.journeys && this.journeys.length' (click)='laterButtonClick$.next()'>
      <mat-icon>expand_more</mat-icon>
      <span>Später</span>
    </mat-card>
  </ng-container>
</div>
