.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 40% 15% 35%;
  gap: 0 0;
}

.flex-container {
  display: flex;
}

.grid-container, .flex-container {
  align-items: center;
}

.flex-container-max-space {
  justify-content: space-between;
}

.price {
  width: 5rem;
  text-align: end;
}

