.content {
  margin-top: 1rem;
}

@media screen and (min-width: 850px) {
  .header {
    position: relative;
  }
}

@media screen and (min-width: 1500px) {
  .layout {
    margin: 0 auto;
    max-width: 1500px;
  }
}
