<mat-divider class='divider'></mat-divider><!--Abstand -->

<div class='grid-container'>

  <!-- first row -->
  <div class='left'><!--icons and street on the left side -->
    <mat-icon>trip_origin</mat-icon>
  </div>
  <div class='place'>
    {{ leg.departure.name }}
  </div>
  <div class='right'><!--time on the right side -->
    {{ leg.departure.departureTime | date: 'shortTime' }}
  </div>
  <div>
    <ng-container *ngIf='leg.departure.platform.length > 0'>
      Gleis: {{ leg.departure.platform }}
    </ng-container>
  </div>

  <!-- second row -->
  <div class='left'><!--Icon and street on the left side -->
    <mat-icon>arrow_downward</mat-icon>
    <mat-icon>{{ leg.vehicleType | vehicleType }}</mat-icon>
  </div>
  <div class='flex-container'>
    <ng-container *ngIf='leg.vehicleType === "WALK" && leg.waypoints.length > 0'>
      <span class='footpath' (click)='toggleFootpathMap()'>
        {{ leg.distanceInKilometers }} km
      </span>
      <button id='footpathMapToggleButton' mat-icon-button (click)='toggleFootpathMap()'>
        <mat-icon>{{ showFootpathMap ? 'expand_more' : 'chevron_left' }}</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf='leg.vehicleType !== "WALK" && leg.intermediateStops.length > 0'>
      <span class='intermediateStops' (click)='toggleIntermediateStops()'>
        <ng-container *ngIf='leg.vehicleNumber.length > 0 || leg.vehicleName.length > 0; else this.noVehicle'>
          <dravelopsefafrontend-vehicle-type [key]='leg.vehicleType'>

          </dravelopsefafrontend-vehicle-type>
          <span class='vehicleNumber'>&nbsp;{{ leg.vehicleNumber }}</span>
        </ng-container>
        <ng-template #noVehicle>
          <span class='intermediateStopsText'>{{ leg.intermediateStops.length }} Zwischenhalte</span>
        </ng-template>
      </span>
      <button mat-icon-button (click)='toggleIntermediateStops()'>
        <mat-icon>{{ showIntermediateStops ? 'expand_more' : 'chevron_left' }}</mat-icon>
      </button>
    </ng-container>
  </div>
  <div class='right'> <!--time on the right side -->
    {{ leg.departure.departureTime | duration: leg.arrival.arrivalTime }}
  </div>

  <div>

  </div>

  <!-- possible third row -->
  <ng-container *ngIf='showIntermediateStops'>
    <ng-container *ngFor='let intermediateStop of leg.intermediateStops'>
      <div class='left'><!--Information on the left side -->
        <mat-icon>arrow_downward</mat-icon>
      </div>
      <div id='intermediateStopName'>{{ intermediateStop.name }}</div>
      <div id='intermediateStopArrivalTime' class='right'><!--time on the right side -->
        {{ intermediateStop.arrivalTime | date: 'shortTime' }}
        <span *ngIf='leg.delayInMinutes > 0' class='delay'> +{{ leg.delayInMinutes }} min</span>
      </div>
      <div>

      </div>
    </ng-container>
  </ng-container>

  <!-- possible third row -> map-->
  <ng-container *ngIf='showFootpathMap'>
    <div class='left'><!--time on the right side -->
      <mat-icon>map</mat-icon>
    </div>
    <div class='map'>
      <dravelopsefafrontend-footpath-map [waypoints]='leg.waypoints'></dravelopsefafrontend-footpath-map>
    </div>
  </ng-container>


  <!-- fourth row -->
  <div class='left'> <!--Street and icon on the left side -->
    <mat-icon>stop_circle</mat-icon>
  </div>
  <div class='place'>
    {{ leg.arrival.name }}
  </div>
  <div class='right'> <!--time on the right side -->
    {{ leg.arrival.arrivalTime | date: "shortTime" }}
    <span *ngIf='leg.delayInMinutes > 0' class='delay'> +{{ leg.delayInMinutes }} min</span>
  </div>
  <div>
    <ng-container *ngIf='leg.arrival.platform.length > 0'>{{ leg.arrival.platform }}</ng-container>
  </div>

</div>
<mat-divider></mat-divider>
