<mat-divider class='divider'></mat-divider>

<div class='grid-container'>

  <!-- first row -->
  <div class='departureIcon'>
    <mat-icon>trip_origin</mat-icon>
  </div>
  <div [ngClass]='leg.departure.platform.length === 0 ? "departureName--long" : "departureName--short"' class='departureName'>
    {{ leg.departure.name }}
  </div>
  <div *ngIf='leg.departure.platform.length > 0' class='departurePlatform'>
    Gleis: {{ leg.departure.platform }}
  </div>
  <div class='departureTime'>
    {{ leg.departure.departureTime | date: 'shortTime' }}
    <span *ngIf='leg.delayInMinutes > 0' class='delay'> +{{ leg.delayInMinutes }}</span>
  </div>

  <!-- second row -->
  <div class='arrowDownIcon'>
    <mat-icon>arrow_downward</mat-icon>
    <mat-icon>{{ leg.vehicleType | vehicleTypeIcon }}</mat-icon>
  </div>
  <div class='actionButton flex-container'>
    <ng-container *ngIf='leg.vehicleType === "WALK" && leg.waypoints.length > 0'>
      <span class='footpath' (click)='toggleFootpathMap()'>
        {{ leg.distanceInKilometers }} km
      </span>
      <mat-icon (click)='toggleFootpathMap()' class='expandIcon'>
        {{ showFootpathMap ? 'expand_more' : 'chevron_left' }}
      </mat-icon>
    </ng-container>
    <ng-container *ngIf='leg.vehicleType !== "WALK" && leg.intermediateStops.length > 0'>
      <span class='intermediateStops' (click)='toggleIntermediateStops()'>
        <ng-container *ngIf='leg.vehicleNumber.length > 0 || leg.vehicleName.length > 0; else this.noVehicle'>
          {{ leg.vehicleType | vehicleType }}
          <span class='vehicleNumber'>&nbsp;{{ leg.vehicleNumber }}</span>
        </ng-container>
        <ng-template #noVehicle>
          <span class='intermediateStopsText'>{{ leg.intermediateStops.length }} Zwischenhalte</span>
        </ng-template>
      </span>
      <mat-icon (click)='toggleIntermediateStops()' class='expandIcon'>
        {{ showIntermediateStops ? 'expand_more' : 'chevron_left' }}
      </mat-icon>
    </ng-container>
  </div>
  <div class='duration'>
    {{ leg.departure.departureTime | duration: leg.arrival.arrivalTime }}
  </div>

  <!-- possible third row intermediateStops -->
  <div *ngIf='showIntermediateStops' class='intermediateStopsContainer'>
    <dravelopsefafrontend-intermediate-stops-list [leg]='leg'></dravelopsefafrontend-intermediate-stops-list>
  </div>
  <!-- possible third row map-->
  <ng-container *ngIf='showFootpathMap'>
    <div class='mapIcon'>
      <mat-icon>map</mat-icon>
    </div>
    <div class='map'>
      <dravelopsefafrontend-footpath-map [waypoints]='leg.waypoints'></dravelopsefafrontend-footpath-map>
    </div>
  </ng-container>


  <!-- fourth row -->
  <div class='arrivalIcon'>
    <mat-icon>stop_circle</mat-icon>
  </div>
  <div [ngClass]='leg.arrival.platform.length === 0 ? "arrivalName--long" : "arrivalName--short"' class='arrivalName'>
    {{ leg.arrival.name }}
  </div>
  <div *ngIf='leg.arrival.platform.length > 0' class='arrivalPlatform'>
    Gleis: {{ leg.arrival.platform }}
  </div>
  <div class='arrivalTime' [ngStyle]="{'grid-row': (isTabletView$ | async) ? positionArrivalTime() : null}">
    {{ leg.arrival.arrivalTime | date: "shortTime" }}
    <span *ngIf='leg.delayInMinutes > 0' class='delay'> +{{ leg.delayInMinutes }}</span>
  </div>

</div>
<mat-divider></mat-divider>
