@import "libs/shared-styles/src/assets/styles/variables";

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 13% 37% 34% 16%;
  gap: 0 0;
  align-items: center;
}

.right {
  grid-column: 4;
}

.divider{
  padding: 0.2rem;
}

@media screen and (min-width: 440px){
  .grid-container {
    grid-template-columns: 10% 51% 29% 10%;
  }
}

@media screen and (min-width: $tablet) {
  .grid-container {
    grid-template-columns: 15% 40% 15% 10% 10% 10%;
  }

  .right {
    grid-column: 3;
  }
}
