@import "libs/shared-styles/src/assets/styles/global";

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 1fr 30% 5.415rem;
  gap: 0 0;
  align-items: center;
}

.divider{
  padding: 0.2rem;
}

@media (min-width: 440px){
  .grid-container {
    grid-template-columns: 15% 35% 25% 25%;
  }
}

@media (min-width: $bp-tablet) {
  .grid-container {
    grid-template-columns: 15% 40% repeat(4, 11.25%);
  }
}
