@import "libs/shared-styles/src/assets/styles/global";

.walk-step-container {
  margin: 0.5em 0;
}

.flex-container {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
}

.icon {
  flex: 0 0 15%;
}

.text {
  flex: 0 0 85%;
}

.distance {
  text-decoration: underline;
}

.distance:hover, .distance-icon:hover {
  cursor: pointer;
}

@media (min-width: $bp-tablet) {
  .icon {
    display: unset;
    flex: 0 0 auto;
  }

  .text {
    margin-left: 1.5em;
    flex: 1 0 auto;
  }
}
